dotenv ../../k8s/base/snackager.env

dotenv ../../k8s/staging/snackager.env
dotenv ../../k8s/staging/secrets/snackager.env

export SENTRY_DSN=$(cat ../../k8s/base/secrets/SENTRY_DSN)
export REDIS_TLS_CA=$(expand_path ../../k8s/base/redislabs_ca.pem)
